<%- layout('layouts/main.ejs') %>

<script>
    function habEsp() {
        if (document.getElementById("checkEsp").checked) {
            document.getElementById("textEsp").disabled = false;
        } else {
            document.getElementById("textEsp").disabled = true;
        }
    }

</script>

<div class="row">
    <div class="col-md-4 offset-md-4">

            <div class="logo-homehelp">
                <img class="imglogo" src="image/logo.png">
            </div>

        <div class="text-center">
            <div class="">
                <form action="/registrarse" method="POST">
                    <input type="text" name="username" placeholder="Ingresa usuario" class="form-control inputHH inputUser" pattern="^[a-zA-Z0-9_-]+$" required>
                    <input type="password" name="password" placeholder="Ingresa contraseña" class="form-control inputHH inputPass" pattern="^[@a-zA-Z0-9_-]+$" required>
                    <input type="email" name="email" placeholder="Ingresa correo" class="form-control inputHH inputCorreo" required>
                    <input type="text" name="name" placeholder="Ingresa nombre" class="form-control inputHH inputNombre" required>
                    <input type="text" name="lastname" placeholder="Ingresa apellido" class="form-control inputHH inputNombre" required>
                    <input type="text" name="phone" placeholder="Ingresa numero" class="form-control inputHH inputTelefono" pattern="^[0-9- ()\+]{7,}$" required>
                    <input type="text" name="dni" placeholder="Ingresa dni" class="form-control inputHH inputdni" pattern="^[0-9]{8}$" required>  
                    <input type="text" name="direccion" placeholder="Ingresa direccion" class="form-control inputHH inputDireccion">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="checkboxHH">
                                <input type="checkbox" name="esTecnico" aria-label="esTecnico" id="checkEsp" onchange="habEsp()">      
                            </div>
                        </div>  
                        <input type="text" class="form-control inputHH" name="especialidad" placeholder="Ingrese especialidad" id="textEsp" disabled>    
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>