<div class="jumbotron">
  <h1 class="display-4">HOMEHELP</h1>
  <p class="lead">Bienvenido a HOMEHELP, tu portal de servicios que siempre está cerca.</p>
  <hr class="my-4">
  <p>Puedes registrarte como tecnico o como cliente.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Ir a github</a>
</div>