<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="./myinfo.ejs">Mi información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./mihistorial.ejs">Mi historial de servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./miscontratos.ejs">Mis servicios</a>
        </li>
      </ul>