<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME HELP</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        function menuMovil() {
            if (document.getElementById("navbarNav").className == "collapse navbar-collapse") {
                document.getElementById("navbarNav").className += " show";
            } else {
                document.getElementById("navbarNav").className = "collapse navbar-collapse"
            }
        }
        function eliminarPedido(id){
            $.ajax({
                url: '/pedidos/eliminarPedido',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El pedido ha sido eliminado")
            location.reload(true)
        }
        function eliminarServicio(id){
            $.ajax({
                url: '/servicios/eliminarServicio',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El servicio ha sido eliminado")
            location.reload(true)
        }
        function terminarServicio(id){
            $.ajax({
                url: '/servicios/terminarServicio',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El servicio ha sido terminado.")
            location.reload(true)
        }
        function cancelarServicio(id){
            $.ajax({
                url: '/servicios/cancelarServicio',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El servicio ha sido cancelado.")
            location.reload(true)
        }

    </script>   
    
    
</head>

<body class="bodyClass">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff00 !important">
            <% if (user) {%>
            <a class="navbar-brand" href="/">
                    <img src="image/logo.png" height="40" alt="">
                  </a>
                  <% } %>
        <button class="navbar-toggler eliminar" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <% if (user) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil" style="color: white;">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapa" style="color: white;">Mapa Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos" style="color: white;">Mis pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tecnicos" style="color: white;">Ver técnicos</a>
                </li>
                <% if (user.especialidad) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes" style="color: white;">Ver clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios" style="color: white;">Mis servicios aceptados</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                </li>
                <% } else {%>

                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color: white;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrarse" style="color: white;">Registrarse</a>
                </li>

                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if (registerMessage.length > 0) { %>
        <div class="alert alert-danger"><%= registerMessage %></div>
        <% } %>
        <% if (loginMessage.length > 0) { %>
        <div class="alert alert-danger"><%= loginMessage %></div>
        <% } %>

        <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>