<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME HELP</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        function menuMovil() {
            if (document.getElementById("navbarNav").className == "collapse navbar-collapse") {
                document.getElementById("navbarNav").className += " show";
            } else {
                document.getElementById("navbarNav").className = "collapse navbar-collapse"
            }
        }
        function eliminar(id){
            $.ajax({
                url: '/perfil/eliminarPedido',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El pedido ha sido eliminado")
        }
        function aceptar(id){
            $.ajax({
                url: '/perfil/aceptarPedido',
                type: 'PUT',
                data: "id=" + id
            })
            alert("El pedido ha sido aceptado. Se moverá a su historial de servicios.")
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYvkIeO2BKYP5R46ljTG0qTJFDuAZA1eA&callback=initMap"
    async defer></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        function activarUbicacion(){
            infoWindow = new google.maps.InfoWindow;
            var pos = 2;
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
                };    
                
                //guardar posicion
                $.ajax({
                    url: '/perfil',
                    type: 'PUT',
                    data: "lat="+pos.lat+"&long="+pos.lng
                })


            })}
        }
        function desactivarUbicacion(){
            $.ajax({
                    url: '/perfil',
                    type: 'PUT',
                    data: "lat=&long="
                })


        }   
    
    
    </script>
    
</head>

<body class="bodyClass">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff00 !important">
            <% if (user) {%>
            <a class="navbar-brand" href="/">
                    <img src="image/logo.png" height="40" alt="">
                  </a>
                  <% } %>
        <button class="navbar-toggler eliminar" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <% if (user) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil" style="color: white;">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapa" style="color: white;">Mapa Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos" style="color: white;">Mis pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tecnicos" style="color: white;">Ver técnicos</a>
                </li>
                <% if (user.especialidad) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes" style="color: white;">Ver clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios" style="color: white;">Mis servicios aceptados</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                </li>
                <% } else {%>

                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color: white;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrarse" style="color: white;">Registrarse</a>
                </li>

                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if (registerMessage.length > 0) { %>
        <div class="alert alert-danger"><%= registerMessage %></div>
        <% } %>
        <% if (loginMessage.length > 0) { %>
        <div class="alert alert-danger"><%= loginMessage %></div>
        <% } %>

        <%- body %>
    </div>

</body>

</html>